## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
pow(7,4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s="Hi there Sam!"

In [ ]:
r=s.split()
print(r)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
st="The diameter of {} is {} kilometers."

In [ ]:
print(st.format("Earth",12742))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

** What is the main difference between a tuple and a list? **

In [ ]:
#list is mutable, whereas a Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domain(email):
  print("Your domain is :"+email.split('@')[-1])

In [ ]:
email=input("Enter the Email Id:")
domain(email)

Enter the Email Id:user@domain.com
Your domain is :domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def str(s):
  if 'dog' in s.lower():
    print("True")
  else:
    print("False")

In [ ]:
s=input("Enter the String:")
str(s)

Enter the String:dog
True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def countstr(s):
  c=0
  for word in s.lower().split():
    if word=="dog":
      c+=1
  print(c)

In [ ]:
s=input("Enter the String:")
countstr(s)

Enter the String:dog dog
2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(90,12)

'Big Ticket'

In [ ]:
caught_speeding(70,15)

'Small Ticket'

In [25]:
caught_speeding(43,12)

'No Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [26]:
mployee=[12000,15000,18000,50000,25000]

In [27]:
for i in range(len(employee)):
  print(employee[i])

12000
15000
18000
50000
25000

In [28]:
sum=0
for i in range(len(employee)):
  sum+=employee[i]
print(sum)

120000

In [29]:
f1={"Empid":"001","Empname":"Naveen","Basicpay":"50000"}
f2={"DeptName":"IT","DeptId":"205"}
f2.update(f1)
print(f2)

{'DeptName': 'IT', 'DeptId': '205', 'Empid': '001', 'Empname': 'Naveen', 'Basicpay': '50000'}

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
employee=[12000,15000,18000,50000,25000]